# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repositaries\InterviewLesson\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
